<section
  class="bg-bg bg-linear-to-t from-white to-bg pt-24 pb-10 overflow-hidden dark:from-primary/70 dark:to-dark-primary">
  <div class="container px-3 mx-auto py-16">

    <div class="flex gap-3 items-center justify-center mb-12">
      @for (item of btn; track $index) {

      <button class="px-5 py-2 rounded-full text-sm font-medium
           hover:bg-white hover:text-primary
           transition active:hover" (click)=" reloadcourses( item )" [ngClass]="
            item === activeBtn()
              ? 'bg-white text-primary shadow-md shadow-primary/30'
              : 'bg-primary text-white shadow-md shadow-primary/30'">
        {{ item }}

      </button>
      }
    </div>



    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 items-stretch">@for (course of instructorCourses();
      track $index) {
      <app-courses-card [data]="course" [type]="'courses'" />
      }

    </div>
  </div>

</section>
