<section
  class="bg-bg bg-linear-to-t from-white to-bg pt-24 pb-10 overflow-hidden dark:from-primary/70 dark:to-dark-primary">
  <div class="container px-3 mx-auto py-4">

    <div class=" flex flex-col items-center justify-centertext-white ">
      <h1 class="text-9xl font-extrabold text-red-500">404</h1>
      <h2 class="text-3xl md:text-4xl font-semibold mt-4 dark:text-white">Page Not Found</h2>
      <p class="text-gray-400 mt-2 text-center max-w-md">
        Oops! The page you're looking for doesn't exist or has been moved.
      </p>
      <a routerLink="/"
        class="mt-6 inline-block bg-red-500 hover:bg-red-600 text-white font-semibold py-3 px-6 rounded-lg shadow-lg transition-colors duration-300">
        Go Back Home
      </a>
      <img src="/assets/notFound.gif" alt="not found" class="mt-6 w-64 md:w-96">
    </div>

  </div>
</section>
