<section
  class="min-h-screen bg-bg bg-linear-to-t from-white to-bg pt-24 pb-10 overflow-hidden dark:from-primary/70 dark:to-dark-primary flex justify-center items-center flex-col">
  <div class="container px-3 mx-auto py-16">
    <div class="max-w-4xl mx-auto px-6">

      <!-- Header -->
      <div class="text-center mb-16">
        <h1 class="text-4xl md:text-5xl font-semibold text-gray-900  mb-4 dark:text-white">
          Let’s Connect
        </h1>
        <p class="text-gray-500 max-w-md mx-auto text-lg dark:text-gray-300">
          We’d love to stay in touch.
        </p>
      </div>

      <!-- Cards -->
      <div class="grid sm:grid-cols-2  gap-6 mb-16">

        <!-- WhatsApp -->
        <a href="https://wa.me/201558566997" target="_blank"
          class="group bg-white rounded-2xl p-4 shadow-sm hover:shadow-lg transition dark:bg-bg ">
          <p class="text-sm text-gray-400 dark:text-gray-700  mb-2">
            WhatsApp
          </p>
          <p class="text-xl font-medium text-gray-900  group-hover:text-primary transition">
            +2015 58566997
          </p>
        </a>

        <!-- Email -->
        <a href="mailto:info.pledge.eg@gmail.com"
          class="group bg-white rounded-2xl p-4 shadow-sm hover:shadow-lg transition dark:bg-bg">
          <p class="text-sm text-gray-400 dark:text-gray-700  mb-2">
            Email
          </p>
          <p class="text-xl font-medium text-gray-900  group-hover:text-primary transition">
            info.pledge.eg@gmail.com
          </p>
        </a>

        <!-- Location -->
        <a href="https://www.google.com/maps?q=ismailia+Egypt" target="_blank"
          class="group bg-white rounded-2xl p-4 shadow-sm hover:shadow-lg transition dark:bg-bg">
          <p class="text-sm text-gray-400 dark:text-gray-700  mb-2">
            Location
          </p>
          <p class="text-xl font-medium text-gray-900  group-hover:text-primary transition">
            Find us on Google Maps
          </p>
        </a>
        <!-- social media -->
       <div class=" bg-white rounded-2xl p-4 shadow-sm hover:shadow-lg transition dark:bg-bg "> 
          <p class="text-sm text-gray-400 dark:text-gray-700  mb-2">
            follow us on
          </p>
          <div class="flex gap-8">
              <a href="https://www.facebook.com/pledge.eg/" target="_blank" >
                  <fa-icon [icon]="facebook" class="text-2xl font-medium text-gray-900  hover:text-primary transition "/>
              </a>
              <a href="https://www.linkedin.com/company/pledge-training-company/?viewAsMember=true" target="_blank" >
                  <fa-icon [icon]="linkedin" class="text-2xl font-medium text-gray-900  hover:text-primary transition"/>
              </a>
              <a href="https://www.instagram.com/pledge.eg" target="_blank">
                  <fa-icon [icon]="instagram" class="text-2xl font-medium text-gray-900  hover:text-primary transition"/>
              </a>
          </div>
         
        </div>       
      </div>
    </div>
  </div>
</section>
