.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.scrolled {
  background-color: var(--color-bg);
  /* background-color: #e9f3fe; */
  top: 0;
  --tw-shadow: 0 10px 15px -3px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
    0 4px 6px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
    var(--tw-ring-shadow), var(--tw-shadow);
}
.darkscroll {
  background-color: var(--color-dark-primary);
}
.navScroll {
  border: none !important;
}
.openServices {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  position: relative;
  transition-delay: 80ms;
}
