<section
  class="min-h-screen bg-bg bg-linear-to-t from-white to-bg pt-24 pb-10 overflow-hidden dark:from-primary/70 dark:to-dark-primary">
  <div class="container px-3 mx-auto flex items-center justify-center py-6">

    @if (isEnroll()){
    <div class=" flex items-center justify-center my-5 p-8">
      <div class="bg-white dark:bg-primary rounded-3xl p-8 max-w-md w-full 
           text-center shadow-2xl animate-scaleIn ">

        <div class="mx-auto mb-4 w-20 h-20 rounded-full
                bg-bg flex items-center justify-center">
          <fa-icon [icon]="check" class="text-primary font-extrabold p-3 rounded-xl text-3xl dark:text-dark-primary">
          </fa-icon>
        </div>

        <h2 class="text-2xl font-extrabold  dark:text-white mb-2">
          Reservation Confirmed!
        </h2>

        <p class="text-gray-600 dark:text-gray-300 mb-4">
          Your seat in
          <span class="font-semibold text-primary dark:text-secondary">
            {{ course()?.title }}
          </span>
          has been successfully reserved.
        </p>

        <p class="text-sm text-gray-500 dark:text-gray-400 mb-6">
          We’ll contact you soon with further details.
        </p>

        <button (click)="closeModal()" class="w-full py-3 rounded-xl font-semibold bg-linear-to-r from-primary via-bg/50 to-primary  cursor-pointer hover:bg-primary/60 dark:via-secondary/80 dark:from-dark-secondary dark:to-dark-secondary
        my-1.5 transition transition-all hover:text-white hover:via-primary dark:hover:via-secondary">
          Done
        </button>
      </div>
    </div>
    }
    @else{
    <div class="relative w-full max-w-lg backdrop-blur-xl  dark:bg-primary/80 rounded-3xl shadow-2xl p-8  bg-white/90">
      <div class="flex items-center gap-4 mb-6">
        <img [src]="course()?.image" class="w-20 h-20 rounded-2xl object-cover shadow-md" />

        <div>
          <h2 class="text-sm dark:text-white  text-primary font-semibold">
            Reserve Your Seat Now In Our
          </h2>
          <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
            {{ course()?.title }}
          </h2>
        </div>
      </div>

      <form class=" space-y-4" [formGroup]="enrollForm" (ngSubmit)="enroll()">
        <h3 class="text-lg font-semibold text-gray-800 dark:text-white">
          Reserve Now
        </h3>
        <div>
          <input type="text" placeholder="Full Name"
            class="w-full px-4 py-3 rounded-xl border  focus:ring-1 focus:ring-primary outline-none border-gray-400 placeholder:text-gray-500 dark:placeholder:text-white/60 dark:text-white "
            formControlName="fullName"
            [ngClass]="{'border-green-600 ': fullName.valid && (fullName.touched || fullName.dirty) , 'border-red-600': fullName.invalid && (fullName.touched || fullName.dirty)}" />
          @if(fullName.hasError('required') && (fullName.touched || fullName.dirty)){
          <span class="text-red-600 text-sm"> full name is required </span>
          }

          @else if(fullName.hasError('pattern') && (fullName.touched || fullName.dirty)){
          <span class="text-red-600 text-sm"> please enter your name </span>
          }
          @else if(fullName.hasError('minlength') && (fullName.touched || fullName.dirty)){
          <span class="text-red-600 text-sm"> full name is required </span>}
        </div>
        <div>
          <input type=" number" placeholder="Your Age"
            class="w-full px-4 py-3 rounded-xl border focus:ring-1 focus:ring-primary outline-none border-gray-400 placeholder:text-gray-500 dark:placeholder:text-white/60 dark:text-white"
            formControlName="age"
            [ngClass]="{'border-green-600 ': age.valid && (age.touched || age.dirty) , 'border-red-600': age.invalid && (age.touched || age.dirty)}" />
          @if(age.hasError('required') && (age.touched || age.dirty)){
          <span class="text-red-600 text-sm"> age is required </span>
          }
          @else if(age.hasError('min') && (age.touched || age.dirty)){
          <span class="text-red-600 text-sm"> min age is 14 years old </span>
          }
          @else if(age.hasError('max') && (age.touched || age.dirty)){
          <span class="text-red-600 text-sm"> max age is 60 years old </span>
          }
          @else if(age.hasError('pattern') && (age.touched || age.dirty)){
          <span class="text-red-600 text-sm"> please enter your age</span>
          }
        </div>
        <div>
          <input type="email" placeholder="Email Address"
            class="w-full px-4 py-3 rounded-xl border focus:ring-1 focus:ring-primary outline-none border-gray-400 placeholder:text-gray-500 dark:placeholder:text-white/60 dark:text-white"
            formControlName="email"
            [ngClass]="{'border-green-600 ': email.valid && (email.touched || email.dirty) , 'border-red-600': email.invalid && (email.touched || email.dirty)}" />
          @if(email.hasError('required') && (email.touched || email.dirty)){
          <span class="text-red-600 text-sm"> email is required </span>
          }
          @else if(email.hasError('email') && (email.touched || email.dirty)){
          <span class="text-red-600 text-sm"> invalid email</span>
          }
        </div>
        <div>
          <input type="tel" placeholder="Phone Number"
            class="w-full px-4 py-3 rounded-xl border focus:ring-1 focus:ring-primary outline-none border-gray-400 placeholder:text-gray-500 dark:placeholder:text-white/60 dark:text-white"
            formControlName="phoneNumber"
            [ngClass]="{'border-green-600 ': phoneNumber.valid && (phoneNumber.touched || phoneNumber.dirty) , 'border-red-600': phoneNumber.invalid && (phoneNumber.touched || phoneNumber.dirty)}" />
          @if(phoneNumber.hasError('required') && (phoneNumber.touched || phoneNumber.dirty)){
          <span class="text-red-600 text-sm"> phone number is required </span>
          }
          @else if(phoneNumber.hasError('pattern') && (phoneNumber.touched || phoneNumber.dirty)){
          <span class="text-red-600 text-sm">invalid phone number</span>
          }
        </div>
        <div class=" bg-primary/10 rounded-2xl p-4 mb-6 dark:bg-gray-200">
          <p class="text-sm text-gray-700  ">
            Your seat will be reserved immediately after confirmation.
            No payment is required at this step.
          </p>
        </div>
        <button
          class="w-full py-4 rounded-2xl text-lg font-semibold text-white
         bg-linear-to-r from-secondary to-dark-secondary
         hover:scale-[1.02] transition-transform duration-200 shadow-lg cursor-pointer disabled:opacity-70 disabled:cursor-no-drop disabled:hover:scale-[1]"
          [disabled]="!enrollForm.valid">
          Confirm Reservation
        </button>

      </form>

    </div>
    }
  </div>

</section>

