@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #23588d;
  --color-dark-primary: #02101e;
  --color-secondary: #bc1413;
  --color-dark-secondary: #940d0d;
  --color-bg: #b5daff;
  --color-gradient-primary: linear-gradient(to bottom, white, var(--color-bg));
  --color-gradient-footer: linear-gradient(to right, var(--color-bg), var(--color-primary));
}

.bg-gradient-primary {
  background-image: var(--color-gradient-primary);
}
.bg-gradient-footer {
  background-image: var(--color-gradient-footer);
}
