<div class=" dark:bg-dark-primary  w-full pt-10 pb-5 bg-bg ">
  <div class="container px-3 m-auto">
    <div class="flex flex-col justify-between items-center w-full text-center dark:text-white/90">
      <div class="logo w-20 mb-2 lg:mb-0 items-center flex mx-auto">
        <img src="assets/logo.png" />
      </div>
      <p class="font-light mb-7 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        pariatur,
        voluptate
        tempora nostrum
        necessitatibus repudiandae quam, hic corrupti quisquam ipsum recusandae.
      </p>
      <ul class="flex gap-4 m-auto">
        <a class=" hover:text-white cursor-pointer text-2xl">
         <fa-icon [icon]="facebook"></fa-icon>
        </a>
        <a class=" hover:text-white cursor-pointer text-2xl">
         <fa-icon [icon]="instagram"/>
        </a>
        <a class=" hover:text-white cursor-pointer text-2xl">
        <fa-icon [icon]="linkedin"/>
        </a>
        <a class=" hover:text-white cursor-pointer text-2xl">
         <fa-icon [icon]="whatsapp"></fa-icon>
        </a>
      </ul>
    </div>
  </div>
  <hr class="mt-10 mb-5 font-gray-500 dark:text-bg/70">
  <p class="w-full  px-3 text-center text-sm font-light dark:text-white/70">Copyright ©2025 Pledge ,All Right Reserved
  </p>
</div>
